<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yybm8.mapper.SaLoginMapper">
    <select id="selectStudentId" resultType="java.lang.Integer">
        select student_id from students where student_username=#{username}
    </select>
    <select id="oncelogin" resultType="com.yybm8.pojo.Students">
        select * from students where student_username=#{username} and student_password=#{password}
    </select>
    <update  id="outMani">
        update students set student_mani=1 where student_id=#{studentId}
    </update>
    <update  id="addClassOut">
        update students set student_out=#{studentOut} , class_id=#{classId} where student_id=#{studentId}
    </update>
    <select id="selectClassOut" resultType="java.lang.Integer">
        select student_mani from students where student_id=#{loginIdAsInt}
    </select>

    <select id="selectClassAll" resultType="com.yybm8.pojo.Classs">
        select * from classs
    </select>

    <update  id="twoMoni">
        update students set student_mani=2 where student_id=#{studentId}
    </update>

    <select id="selectStuMode" resultType="java.lang.Integer">
        select student_mode from students where student_id= #{studentId}
    </select>
</mapper>